@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fff6e9;

  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 60px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  height: 100px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #d9504b;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 44px;
  padding: 33px 60px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 699px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background-image: url(/image/header/1.png);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}

.navigation__link:hover,
.navigation__link:focus {
  text-shadow: 0px 0px 6px #ffffff;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header {
    height: 100px;
    padding: 29px 46px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;

    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 75px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 200px;
    padding: 0%;
    height: 14px;
  }
  .policy-terms-navigation__link {
    color: #262626;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 707px;
  margin: auto;
  background-image: url("/image/home/Background\ \(Hero\ Block\).png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.home__container-top {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 343px;
  height: 200px;
}
.home-text {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
  padding: 24px 0 40px;
}

.home__google-button_link {
  display: inline-block;

  width: 231px;
  height: 56px;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;

    height: 950px;
    width: auto;
    background-image: url("/image/home/Background\ \(Hero\ Block\)\ \(1\).png");
  }
  .home__container-top {
    display: flex;

    flex-direction: row;
    align-items: center;
    gap: 88px;
  }
  .home__wrapper {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 168px;
  }

  .home-title {
    width: 587px;
    height: 340px;
  }
  .home-text {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 950px;

    padding: 40px 0;
  }
}

.advantages {
  width: 375px;
  margin: auto;
}
.advantages-container {
  padding: 0 16px;
}
.advantages-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1267e2;
}
.advantages-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.advantages-item {
  padding: 24px;
  width: 343px;
  box-shadow: 8px 8px 16px 0px #e5d0b366;
}

.advantages-text-bold {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #d9504b;
  padding-bottom: 8px;
}
.advantages-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #606064;
}
.advantages-img {
  width: 200px;
  height: 200px;
  margin-left: 143px;
  margin-top: -50px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    margin: auto;
  }
  .advantages-container {
    padding: 0 40px;
  }

  .advantages-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .advantages-item {
    padding: 32px;
    width: 672px;
  }
  .advantages-text-bold {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .advantages-text-bold {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #d9504b;
    padding-bottom: 8px;
  }
  .advantages-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .advantages-img {
    width: 200px;
    height: 200px;
    margin-left: 990px;
    margin-top: -200px;
  }
}
.benefits {
  width: 375px;
  margin: auto;
}
.benefits-container {
  padding: 136px 16px 200px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.benefits-item {
  overflow: hidden;
  width: 343px;
  height: 389px;
  padding: 40px 32px 40px 32px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 8px 8px 16px 0px #8a2d3d66;
}
.benefits-item-last {
  overflow: visible;
}
.benefits-text-bold {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1267e2;
}
.benefits-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #606064;
  padding: 16px 0;
}
.benefits-img {
  width: 280px;
  height: 276px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 1440px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 696px;

    background-image: url("/image/benefits/Background.png");
  }
  .benefits-container {
    padding: 150px 40px;
  }
  .benefits-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 16px;
  }
  .benefits-item {
    background: #ffffff;
    overflow: visible;
    width: 442.67px;
    height: 389px;
    padding: 40px 32px 40px 32px;

    border-radius: 16px;
    box-shadow: 8px 8px 16px 0px #8a2d3d66;
  }

  .benefits-text-bold {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1267e2;
  }

  .benefits-img {
    width: 280px;
    height: 276px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
}
.reviews-container {
  padding: 0 8.5px;
  margin: auto;
}

.reviews-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}
.reviews-item {
  width: 358px;
  height: 141px;
  box-shadow: 8px 8px 24px 0px #a17b4529;
}

.reviews-text-bold {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #1267e2;
  padding-bottom: 4px;
}
.reviews-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px;

  color: #606064;
}
.reviews-img {
  width: 432px;
  height: 630px;
  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    margin: 0;
    margin: 84px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 950px;
    background-image: url("/image/Reviews/Reviews.png");
  }
  .reviews-container {
    padding: 0 40px;

    margin: 0;
  }

  .reviews-list {
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: start;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 38px;
    padding-top: 37px;
    width: 1000px;
  }
  .reviews-item {
    width: 556px;
    height: 114px;
    background: #ffffff;

    border-radius: 16px;
  }
  .reviews-item-two {
    margin-left: 229px;
  }
  .reviews-item-four {
    margin-left: 344px;
  }
  .reviews-item-five {
    margin-left: 115px;
  }
  .reviews-text-bold {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #1267e2;
    padding-bottom: 4px;
  }
  .reviews-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 16px;

    color: #606064;
  }
  .reviews-img {
    display: none;
  }
}
.about {
  padding-top: 16px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 600px;
  background-image: url("/image/about/Background\ \(1\).png");
}
.about-item {
  margin: auto;
  width: 343px;
  height: 475px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 8px 8px 16px 0px #8a2d3d66;

  border-radius: 16px;
}
.about-text-bold {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1267e2;
}
.about-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #262626;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 16px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;

    height: 639px;
    padding: 146px 40px;
    background-image: url("/image/about/Background\ \(2\).png");
  }
  .about-item {
    width: 1360px;
    height: 302px;
    padding: 32px;
  }

  .about-text {
    width: 708px;
    height: 162px;
    margin: auto;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 50px 8.5px;
}
.gallery__image {
  width: 256px;
  height: 444px;
  margin: 8px;
  border-radius: 8px;
}

.gallery__list {
  width: 370px;
  padding-top: 16px;
}
.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 0 40px;
  }

  .gallery__container {
    gap: 40px;
    padding-top: 64px;
  }
  .gallery__list {
    margin: auto;
    width: 1100px;
  }
  .gallery__image {
    width: 346px;
    height: 600px;
  }

  .slick-prev:before {
    background-image: url("/image/gallery/Button\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    border-radius: 40px;
    display: inline-block;
    text-indent: -9999px;
  }
  .slick-prev {
    left: -80px;
  }
  .slick-next:before {
    background-image: url("/image/gallery/Button\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    display: inline-block;
    text-indent: -9999px;
  }
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: auto;
  background-image: url("/image/footer/Background\ \(footer\).png");
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 100px 14px 0;
  gap: 16px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  gap: 16px;
}
.footer-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 275px;
    margin: auto;
    background-image: url("/image/footer/Background\ \(footer\)\ \(1\).png");
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 200px 40px 0;
    gap: 16px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 80px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 20px 40px;
  background: #fffefb;
}
.policy-terms-title {
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 700;
  line-height: 60.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #262626;
}

.policy-terms-text {
  padding-top: 40px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #262626;
}

.policy-terms-text-one {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #606064;
  padding-top: 16px;
}

.terms-list {
  list-style-type: disc;
  padding-left: 25px;
  color: #606064;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  flex-direction: column;
}
.terms-lists {
  list-style-type: disc;
  color: #606064;
  padding-left: 25px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 86px 40px;
    align-items: start;
  }

  .policy-terms-title {
    font-family: Montserrat;
    font-size: 84px;
    font-weight: 700;
    line-height: 92.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text-one {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .terms-list {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
